/*
* {
    margin: 0;
}

header {
    padding: 4rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8rem;
}

button {
    background: black;
    color: antiquewhite;
}
*/

/*
.container {
    display: flex;
    gap: 1rem;
}

aside, main {
    border: 1px solid;
    height: 95vh;
}

aside {
    flex-basis: 25%;
}

main{
    flex: 1;
}
*/

/*
img{
    width: 30%;
    height: auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}
*/

/*
button {
    display: flex;
    align-items: center;

    line-height: 0;

    gap: .4rem;
}

button svg {
    width: 2rem;
    height: 2rem;
}
*/

*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
}

footer {
    
    height: 8rem;
    flex: 1;

    margin-top: auto;
 
    background-color: gray;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
